syntax: glob

.*
*~
\#\#* 
examples/bin
build/*
core
core.*
docs
docs/
.cvsignore
.project
.cproject
*.dot
Doxyfile
.DS_Store
*.gml
gmon.out
*.graphml
*.jmk
*.jst
*.jup
lib/*
log
*.log
Make.*
Makefile
*.o
*.orig
*.png
*.ps
*.pyc
*.so
*.svg
*.swp
*.v3breakpoints
*.zip
*.gz
*.bz2
*.tgz
*.xz
tags
kernel_tester
*.bkp
*.diff
*.rej
*.nvprof
*.ptx
cuda-api-wrappers.cmake
